*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(2, 0, 32);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1280px;
    width: 100%;
}

header{
    max-width: 720px;
    width: 100%;
    margin: 32px auto;
    text-align: center;
}

.newGame_box{
    text-align: center;
}

.title, .description, p{
    color: whitesmoke;
    text-shadow: rgb(247, 92, 2) 0px 0px 8px;
    font-size: 38px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.title{
    font-size: 64px;
    font-family: "Permanent Marker", cursive;
    color: rgb(247, 115, 2);
}

.description{
    color: rgb(247, 115, 2);
}

.description_box{
    margin: 0 auto;
    margin-bottom: 64px;
}

p{
    font-size: 24px;
    text-shadow: rgb(247, 92, 2) 0px 0px 4px;
    margin-bottom: 8px;
}

.btn_box{
    text-align: center;
    margin-bottom: 8px;
}

.btn{
    border: solid 2px rgba(2, 0, 145, .8);
    background-color: rgba(2, 0, 145, .6);
    padding: 8px 16px;
    color: whitesmoke;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    border-radius: 8px;
    transition: all ease .3s;
}

.btn:hover{
    border: solid 2px rgba(2, 0, 145, 1);
    background-color: rgba(2, 0, 121, .8);
    transform: scale(1.1);
    transition: all ease .3s;
}

.btnS{
    border: solid 2px rgba(2, 0, 97, .8);
    background-color: rgba(2, 0, 97, .2);
    font-family: "Permanent Marker", cursive;
    font-size: 24px;
}

.btnS:hover{
    box-shadow: rgb(2, 0, 97) 0px 0px 16px 2px;
}

.interface_box{
    margin: 0 auto;
    padding: 16px;
    max-width: 720px;
    width: 90%;
    border-radius: 16px;
    border: solid 1px rgb(2, 0, 145);
    box-shadow: rgb(2, 0, 97) 0px 0px 8px 1px;
    background-color: rgba(0, 0, 0, .8);
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
}

.img_personagens{
    height: 200px;
    margin-bottom: 8px;
    border: whitesmoke solid 1px;
    box-shadow: white 0px 0px 4px;
    border-radius: 8px;
}

.text_tip, .inputLabel{
    color: whitesmoke;
    text-shadow: rgb(247, 92, 2) 0px 0px 2px;
    font-style: italic;
}

.input_box{
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.userInput{
    border-radius: 8px;
    font-size: 16px;
    padding: 2px 4px;
    font-family: "Oswald", sans-serif;
}

.results_box{
    font-size: 24px;
    padding: 8px;
    text-align: center;
    color: rgb(247, 92, 2);
    margin: 16px;
}

.finalText{
    font-size: 32px;
    margin: 16px auto;
}

.none{
    display: none;
}

@media(max-width: 767px){
    .container{
        width: 90%;
        padding-top: 0;
    }

    header{
        width: 100%;
        margin-bottom: 16px;
    }

    .title, .description, p{
        font-size: 16px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-style: italic;
    }
    
    .title{
        font-size: 32px;
        font-family: "Permanent Marker", cursive;
        color: rgb(247, 115, 2);
    }
    
    .description{
        color: rgb(247, 115, 2);
    }

    .description_box{
        width: 80%;
        margin-bottom: 32px;
    }

    p{
        margin-bottom: 8px;
        font-size: 14px;
    }

    .text_tip{
        font-size: 16px;
    }

    .userInput{
        font-size: 14px;
    }
}